/*--------------------------------------------------------------
Grid Reset
----------------------------------------------------------------*/
.pxl-grid {
    .pxl-grid-masonry {
        position: relative;
    }
    .grid-sizer {
        z-index: -1;
    }
    .pxl-load-more {
        text-align: center;
        padding: 0 15px;
        margin-top: 6px;
    }
    @media #{$min-xl} {
        .col-xl-pxl5 {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
        .col-lg-66-pxl {
            -ms-flex: 0 0 66.6666666%;
            flex: 0 0 66.6666666%;
            max-width: 66.6666666%;
        }
    }
    @media #{$min-xl} {
        .col-xl-66-pxl {
            -ms-flex: 0 0 66.6666666%;
            flex: 0 0 66.6666666%;
            max-width: 66.6666666%;
        }
    }
}

.pxl-grid, .pxl-post-carousel, .pxl-post-modern, .pxl-swiper-slider {
    .pxl-post--featured {
        position: relative;
    }
    .pxl-post--link {
        @extend .pxl-spill;
        z-index: 99;
    }
    .pxl-post--image img, .pxl-post--featured img {
        width: 100%;
    }
    .pxl-post--title a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    .pxl-post--category { 
        position: relative;
        &.link-none:before, &.deactive-click:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
        }
        a {
            color: inherit;
        }
    }
    &.pxl-grid-nogap {
        .pxl-grid-masonry {
            margin: 0 !important;
            .pxl-grid-item {
                padding: 0 !important;
            }
            .pxl-post--inner {
                margin-bottom: 0;
            }
        }
    }
}



.pxl-load-more {
    .pxl-load-icon {
        width: 20px;
        height: 20px;
        @include border-radius(100%);
        border-color: transparent #fff transparent #fff;
        border-width: 1px;
        border-style: solid;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        animation: pxl_spin .6s infinite linear;
        -webkit-animation: pxl_spin .6s infinite linear;
        box-sizing: border-box;
        z-index: 2;
        margin-top: -10px;
        opacity: 0;
    }
    .pxl-loadmore-text {
        @include transition(all 300ms linear 0ms);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        svg{
            @include transition(all 300ms linear 0ms);
        }
    }
    &.loading {
        .pxl-load-icon {
            opacity: 1;
        }
        .pxl-loadmore-text {
            opacity: 0;
        }
    }
    .btn:hover{
        .pxl-loadmore-text{
            svg{
                transform: rotate(90deg);
            }
        }
    }
}

// Grid Filter Style
.pxl-grid-filter {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    @media #{$max-sm}{
        gap: 8px;
    }
    .filter-item {
        cursor: pointer;
        @include transition(all 300ms linear 0ms);
        position: relative;
    }
    .pxl--filter-inner {
        display: inline-flex;
        flex-wrap: wrap;
    }
    &.style-1{
        margin-bottom: 48px;

        .filter-item {
            padding: 0 28px;
            position: relative;
            border: 2px solid #FE4040;
            overflow: hidden;
            line-height: 52px;
            border-radius: 8px;
            color:  #FE4040;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.32px;
            &:last-child{
                margin-right: 0;
            }
            &:before,&:after{
                position: absolute;
                content: '';
                width: 0;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: #FE4040;
                z-index: -1;
                opacity: 0;
                @include transition(all 0.3s linear 0ms);
                border-radius: inherit;
            }
            &.active{
                color: #fff;
                &:before,&:after{
                    width: 120%;
                    opacity: 1;
                }
            }
        }
    }
    &.style-2 {
        margin-bottom: 0;
        .filter-item{
            line-height: 48px;
            color: rgba(32,32,32,.72);
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: -0.16px;
            border-radius: 8px;
            padding: 0 24px;
            position: relative;
            z-index: 2;
            @include transition(all 0.3s linear 0ms);
            &:before{
                position: absolute;
                content: '';
                width: 0;
                height: 100%;
                background: #00BD39;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @include transition(all 0.3s linear 0ms);
                border-radius: inherit;
                z-index: -1;
            }

            &.active,&:hover{
                &:before{
                    width: 100%;
                }
                color: #FFF;
            }
        }
    }
}

//


//Product Grid



//Layout 2
.pxl-product-grid-layout-2 .pxl-product-grid{
    .onsale{
        right: 47px !important;
        left: auto !important;
    }
    .pxl-heading--product-grid{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 48px;
    }
    .pxl-title--grid{
        font-size: 45px;
        font-weight: 600;
        line-height: 1.0667;
        letter-spacing: -0.45px;
        max-width: 531px;
        @media #{$max-xl}{
            font-size: 42px;
            margin-bottom: 15px;
        }
        @media #{$max-xl}{
            font-size: 36px;
        }
    }
    .pxl-product--inner{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(32,32,32,.12);
        .product-category a{
            display: block;
            color: #00BD39;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.15px;
        }

    }

    .woocommerce-product-title{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.2px;
        margin-bottom: 28px;
    }
    .pxl-grid-inner{
        .pxl-products--inner{
            margin-bottom: 0 !important;
        }
        .woocommerce-product-inner{
            border: 0;
            border-radius: 8px;
            background: #FFF;
            padding: 12px;
            display: grid;
            &:hover{
                .woocommerce-product-header:after{
                    opacity: 1;
                }
            }
        }
        .woocommerce-product-header{
            text-align: center;
            margin-bottom: 12px;
            display: inline-flex;
            &:after{
                background: #F5FAF7;
                border-radius: 6px;
                opacity: 1;
            }
        }
        .woocommerce-product-content{
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 12px;
            .woocommerce-product--price{
                margin: 0;
                padding: 0;
                ins{
                    color: #202020;
                }
            }
        }
        
        .pxl-add-to-cart{
            overflow: hidden;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $primary_color;
                font-size: 14px;
                font-weight: 500;
                background: #fff;
                border: 1px solid $primary_color;
                gap: 8px;
                padding: 0 16px;
                line-height: 40px;
                @include transition(all 0.3s linear 0ms);
                position: relative;
                overflow: hidden;
                &:before{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translate(-150%,-50%);
                    background: $primary_color;
                    width: 110%;
                    height: 100%;
                    z-index: -1;
                    border-radius: inherit;
                }
                svg{
                    order: -1;
                    path{
                        @include transition(all 0.3s linear 0ms);
                    }

                }
                &:hover{
                    background: transparent;
                    &:before{
                        transform: translate(-50%,-50%);

                    }
                    color: #FFF;
                    svg path{
                        stroke: #FFF;
                    }
                }
            }
        }
    }
}

//Layout 3
.pxl-product-grid-layout-3{
    .woocommerce{
        .pxl-products--inner{
            margin: 0 !important;
        }
        .woocommerce-product-inner{
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 20px;
            background: #FFF;
            .woocommerce-product-content .woocommerce-product-title{
                color: #202020;
                font-size: 18px;
                font-weight: 600;
                line-height:1.5556;
            }
            .woocommerce-product-content .woocommerce-product--price{
                padding: 0;
            }
            .woocommerce-product-header{
                margin-bottom: 0;
                padding: 12px;
                &:after{
                    background: #F6F6F6;
                    opacity: 1;
                    border-radius: 6px;
                }
            }
            &:hover{
                .woocommerce-product-header{
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
        .product-category a{
            color: $primary_color;
            font-size: 12px;
            font-weight: 500;
            line-height: 2;
            letter-spacing: 0.12px;
        }
        
        .woocommerce-product--price, .woocommerce-product--price ins{
            color: #202020;
            font-size: 16px;
            font-weight: 600;
        }
        .woocommerce-product--price del{
            color: #999;
            font-size: 14px;
            font-weight: 400;
        }
    }
}


//Layout 4
.pxl-product-grid-layout-4{
    .pxl-product-grid{
        display: flex;
        gap: 32px;
    }
    .pxl-grid-filter{
        display: block;
        min-width: 306px;
        .filter-item{
            display: block;
            width: 100%;
            border-radius: 6px;
            border: 1px solid rgba(32, 32, 32, 0.12);
            background: var(--ffffff, #FFF);
            position: relative;
            overflow: hidden;
            z-index: 2;
            color: #202020;
            font-size: 18px;
            font-weight: 400;
            line-height: 60px;
            padding: 0 32px;
            @include transition(all 0.25s linear 0ms);
            &:before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transform: translateX(-100%);
                border-radius: inherit;
                background: #00BD39;
                @include transition(all 0.25s linear 0ms);
                z-index: -1;
            }
            &.active{
                color: #FFF;
                &:before{
                    transform: translateX(0);
                }
            }
            &:not(:last-child){
                margin-bottom: 12px;
            }
        }
    }
    .pxl-grid-inner{
        width: 100%;
    }
}

.pxl-products--inner{
    margin-bottom: 32px !important;
    .woocommerce-product-content{
        .woocommerce-sg-product-excerpt{
            color: rgba(32, 32, 32, 0.8);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
        }
        .woocommerce-sg-product-excerpt{
            margin-bottom: 18px;
        }
    }
}