/*--------------------------------------------------------------
BLOG GRID
----------------------------------------------------------------

--------------------------------------------------------------*/

// Slider Revolution
.revslider-initialised {
    .rv-description {
        @media screen and (max-width: 777px) {
            font-size: 17px !important;
        }
        @media screen and (max-width: 575px) {
            font-size: 16px !important;
        }
    }
    .tc-text-shadow1 {
        text-shadow: 0 5px 8px rgba(#131313, 0.23) !important;
    }
    .tp-thumbs.theme-style1 {
        @media #{$max-sm} {
            display: none !important;            
        }
        .tp-thumb {
            opacity: 1;
            border-radius: 175px;
            overflow: hidden;
            @include background-gradient-4colors(to bottom, $gradient_color_from2 25%, $gradient_color_from 50%, $gradient_color_to2 75%, $gradient_color_to 100%);
            transform: scale(0.7);
            @include transition(all 300ms linear 0ms);
            .tp-thumb-image {
                border-radius: 175px;
                overflow: hidden;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: auto;
                width: auto;
                @include transition(all 300ms linear 0ms);
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #{'rgba(var(--primary-color-rgb),0.48)'};
                    z-index: 9;
                    border-radius: inherit;
                    @include transition(all 300ms linear 0ms);
                }
            }
            &.selected {
                transform: scale(1);
                @media #{$max-lg} {
                    transform: scale(0.85);
                }
                .tp-thumb-image {
                    top: 5px;
                    right: 5px;
                    bottom: 5px;
                    left: 5px;
                    &:before {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
//Case Heading
.pxl-heading{
    display: flex;
    .pxl-title--highlight{
        color: #00853A;
    }
}


// Case Post Lists
.pxl-post-list1  {
    .pxl-item--image {
        position: absolute;
        max-width: 180px;
        border: 3px solid $primary_color;
        left: -130px;
        transform: rotate(-16deg);
        bottom: -28px;
        z-index: 100;
        @include transition(all 300ms linear 0ms);
        opacity: 0;
        margin-left: -30px;
        visibility: hidden;
        @media #{$max-xxl} {
            display: none;
        }
    }
    .pxl-item--title {
        --tab-title-color: #000;
        margin-bottom: 0;
        font-size: 30px;
        line-height: 1.16;
        flex-grow: 1;
        @media #{$max-lg} {
            font-size: 22px;
        }
        @media #{$max-sm} {
            font-size: 20px;
        }
        span {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include background-gradient-button(to right, $gradient_color_from, $gradient_color_to 50%, var(--tab-title-color) 50%);
            background-size: 200% 100%;
            background-position: -100%;
            transition: all 0.3s ease-in-out;
            display: inline-block;
        }
    }
    .pxl-item--number {
        color: #575757;
        font-size: 20px;
        font-weight: 700;
        min-width: 60px;
        @include transition(all 300ms linear 0ms);
        @media #{$max-xxl} {
            min-width: 35px;
        }
    }
    .pxl-item--readmore {
        font-size: 58px;
        transform: rotate(-45deg);
        margin-right: 30px;
        opacity: 0;
        z-index: 100;
        @media #{$max-sm} {
            font-size: 45px;
        }
        i {
            @extend .text-gradient;
        }
        &:hover {
            transform: rotate(0deg);
        }
    }
    .pxl-item--holder {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }
    .pxl-item--link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
    }
    @media #{$max-xxl} {
        .pxl-item--bg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            @include transition(all 300ms linear 0ms);
            transform: scaleY(0);
            transform-origin: bottom center;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(#000, 0.76);
            }
        }
    }
    .pxl-post--item {
        display: flex;
        align-items: center;
        padding: 20px 6px;
        min-height: 161px;
        position: relative;
        z-index: 1;
        &:before, &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: #323232;
            bottom: 0;
            right: 0;
        }
        &:after {
            width: 0;
            @include transition(all 300ms linear 0ms);
            background-color: $primary_color;
            z-index: 2;
        }
        &:last-child:before {
            opacity: 0;
        }
        &:hover {
            &:after {
                width: 100%;
            }
            .pxl-item--title span {
                background-position: 0%;
            }
            .pxl-item--image {
                margin: 0;
                opacity: 1;
                visibility: visible;
            }
            .pxl-item--readmore {
                margin-right: 0;
                opacity: 1;
            }
            @media #{$max-xxl} {
                .pxl-item--bg {
                    transform: scaleY(1);
                }
                .pxl-item--number {
                    color: #fff;
                }
            }
        }
    }
}


// 1. Case Logo
.pxl-logo { 
    a {
        display: inline-block;
        position: relative;
    }
    img {
        width: auto;
        vertical-align: middle;
    }
}


// 2. Case Search
.pxl-search{
    .searchform-wrap{
        display: flex;
        align-items: center;
    }
    i{
        margin-right: 6px;
        color: #FE6462;
    }
    input[type="text"]{
        background-color: unset;
        border: none;
        padding: 0;
        color: rgba(32,32,32,0.48);
        font-size: 16px;
        font-weight: 400;
    }
}


// 4. Case Lists
.pxl-list{

    .pxl--item{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .pxl-item--meta{
        .pxl-item--icon{
            display: flex;
            align-items: center;
        }
    }
    .pxl-empty{
        font-size: 14px;
        font-weight: 500;
        color: rgba(32,32,32, 0.64);
    }
    .pxl-content{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.28;
    }
}

// 5. Case Links
.pxl-link {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
        display: inline-flex;
        font-size: 16px;
        color: #202020;
        position: relative;
        &:hover {
        	color: $primary_color;
        }
    }
    .pxl-link--icon {
        min-width: 16px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 6px;
    }
    .pxl-type-gradient .pxl-link--icon i {
        @extend .text-gradient;
    }
    &.type-vertical li + li {
    	margin-top: 6px;
    }
    &.type-horizontal {
    	display: flex;
      flex-wrap: wrap;
      li {
       margin: 0 10px;
   }
}
/* Style */
&.style-hover-divider {
   .pxl-link--text {
      position: relative;
      &:before {
         content: '';
         height: 1px;
         position: absolute;
         bottom: 2px;
         left: 0;
         right: 0;
         background-color: $primary_color;
         transform-origin: right center;
         -webkit-transform-origin: right center;
         @include transform(scale(0, 1));
         @include transition(transform 0.3s cubic-bezier(0.37, 0.31, 0.2, 0.85));
     }
     &:hover:before {
       transform-origin: left center;
       -webkit-transform-origin: left center;
       @include transform(scale(1, 1));
   }
}
}
&.style-hover-divider2 {
 .pxl-link--text {
  position: relative;
  &:before, &:after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: 2px;
    width: 0;
    background-color: $primary_color;
    @include transition(width 0.3s cubic-bezier(0.37, 0.31, 0.2, 0.85));
}
&:before {
    left: 0;
}
&:after {
    right: 0;
}
&:hover {
    &:before, &:after {
     width: 50%;
 }
}
}
li.active .pxl-link--text {
    &:before, &:after {
        width: 50%;
    }
}
}
&.style-square-shape1 {
    a {
        font-size: 17px;
        position: relative;
        &:before {
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%) scale(0);
            @include transition(all 300ms linear 0ms);
            @include background-gradient-rotate(135deg, $gradient_color_from, $gradient_color_to);
            opacity: 0;
        }
        &:hover {
            padding-left: 20px;
            &:before {
                opacity: 1;
                transform: translate(0, -50%) scale(1);
            }
        }
    }
    &.type-vertical li + li {
        margin-top: 19px;
    }
    li.active a:before {
        opacity: 1;
        transform: translate(0, -50%) scale(1);
    }
}
&.style-characters {
    &.type-horizontal li {
        margin: 0;
        a {
            display: inline-flex;
            align-items: center;
            &:before {
                content: '*';
                margin: 0 13px;
                font-size: 120%;
                position: relative;
                top: -4px;
            }
        }
    }
}
&.style-round-box {
    .pxl-link--icon {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60px;
        border-radius: 60px;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 17px;
        z-index: 99;
        &:before, &:after {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: inherit;
            position: absolute;
            top: 0;
            left: 0;
            @include transition(all 300ms linear 0ms);
            z-index: -1;
        }
        &:before {
            opacity: 0.1;
            @include background-horizontal($gradient_color_from, $gradient_color_to);
        }
        &:after {
            opacity: 0;
            background-color: $primary_color;
        }
        i {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include background-gradient-button(to right, $gradient_color_from, $gradient_color_to 50%, #fff 50%);
            background-size: 200% 100%;
            background-position: 0%;
            transition: all 0.3s ease-in-out;
            @include transition(all 300ms linear 0ms);
        }
    }
    a {
        min-height: 60px;
        display: flex;
        align-items: center;
        padding-left: 22px;
        padding-right: 60px;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        color: #454545;
        background-color: #fff;
        border-radius: 60px;
        position: relative;
        z-index: 1;
        @media #{$max-lg} {
            padding-left: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            @include background-horizontal($gradient_color_from, $gradient_color_to);
            border-radius: inherit;
            opacity: 0;
            @include transition(all 300ms linear 0ms);
        }
        &:hover {
            color: #fff;
            &:before {
                opacity: 1;
            }
            .pxl-link--icon {
                &:before {
                    opacity: 0;
                }
                &:after {
                    opacity: 1;
                }
                i {
                    background-position: -100%;
                }
            }
        }
    }
    .pxl-item--link + .pxl-item--link {
        margin-top: 12px;
    }
}
}

//Info Box
.pxl-info-box1{
    display: flex;
    align-items: center;
    padding: 32px;
    background-image: url('../img/bg-post1.1.jpg');
    border-radius: 8px;
    .pxl-item--bg{
        width: 140px;
        height: 140px;
        border: 3px solid #fff;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 28px;
    }
    .pxl-name--author{
        color: var(--202020, #202020);
        font-size: 22px;
        font-weight: 700;
        line-height: 1.18;
        margin-bottom: 16px;
    }
    .pxl-item--desc{
        max-width: 498px;
    }
}


//Case Image
.pxl-image-single{
    .pxl-item--inner{
        &.one-line{
            display: flex;
            align-items: center;
            @media #{$max-sm}{
                display: unset;
                text-align: center;
            }
        }
    }
}
//Case Breadcrumb
.pxl-breadcrumb-wrap{
    display: flex;
    .pxl-breadcrumb{
        list-style: none;
        display: flex;
        width: fit-content;
        padding: 21px 24px;
        border-radius: 4px;
        border: 1px dashed var(--fcb-300, #FCB300);
        background: rgba(255, 255, 255, 0.36);
        backdrop-filter: blur(4.5px);
    }
    li{
        display: none;
    }
    li:first-child, li:last-child{
        display: list-item;
    }
    a{
        display: flex;
        align-items: center;
        i{
            margin: 0 8px;
        }
    }
    .breadcrumb-hidden{
        font-weight: 400;
        line-height: 1.444;
    }
    .breadcrumb-entry{
        color: #797979;
        font-weight: 400;
        line-height: 1.444;
    }
}




//Case Icon List
.pxl-icon-list{
    &.icon-horizontal{
        a{
            display: flex;
            align-items: center;
        }
        span{
            margin-left: 9px;
        }
    }
    span{
       font-weight: 600;
       letter-spacing: -0.32px;
   }
}

// Case Counter
.pxl-counter1 {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: nowrap;
    @media #{$max-lg3}{
        gap: 20px;
    }
    .pxl-counter--icon{
        width: 100px;
        height: 100px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(#FCB300,.1);
        @include transition(all 0.3s linear 0ms);
        @media #{$max-lg3}{
            width: 80px;
            height: 80px;
        }
        i {
            @extend .text-gradient-bottom;
        }
        + .pxl-counter--holder {
            .pxl-counter--number::before {
                display: none;
            }
        }
    }
    .pxl-counter--title {
        font-size: 18px;
        letter-spacing: -0.18px;
        color: rgba(32,32,32,.72);
    }
    .pxl-counter--number {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.44444;
        letter-spacing: -0.36px;
        display: inline-flex;
        gap: 8px;
        @extend .ft-secondary;
        margin-bottom: 2px;
        position: relative;
        z-index: 1;
        @media #{$max-lg3}{
            font-size: 32px;
        }
        @media #{$max-md2}{
            font-size: 32px;
        }
        &:before {
            content: '';
            @include background-gradient-bottom($gradient_color_from, $gradient_color_to);
            height: 42px;
            width: 42px;
            border-radius: 42px;
            position: absolute;
            top: -5px;
            left: 0;
            z-index: -1;
        }
        &.shape-hide:before {
            display: none;
        }
    }
    &.style-2{
        .pxl-counter--holder{
            order: -1;
            text-align: right;
            @media #{$max-sm}{
                order: 1;
                text-align: left;
            }
        }
    }
}


//Case CountDown
.pxl-countdown{
    &.style1{
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        .countdown-item{
            .countdown-item-holder{
                border-radius: 59px;
                background: #FFF;
                backdrop-filter: blur(8px);
                padding: 14px;
            }
            .countdown-amount{
                color: #F2AC00;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                line-height:1.5;
                letter-spacing: -0.48px;
            }
            .countdown-period{
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.71;
                letter-spacing: -0.28px;
            }
        }
    }
}


//Case Commitment
.pxl-commitment{
    .pxl-title{
        font-size: 45px;
        line-height: 1.2;
        letter-spacing: -0.45px;
        margin-bottom: 15px;
        @media #{$max-sm}{
            font-size: 36px;
        }
    }
    .pxl-desc{
        color: #202020;
        margin-bottom: 30px;
        @media #{$max-sm}{
            font-size: 16px;
        }
    }
    .pxl--items{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 30px;
        }
    }
    .pxl-ordinal--numbers{
        position: relative;
        color: rgba(0, 133, 58, 0.30);
        font-size: 60px;
        line-height: 1;
        .pxl-title--commit{
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 26px;
            line-height: 1.07;
            color: #202020;
            @media #{$max-sm}{
                font-size: 20px;
            }

        }
    }
    .pxl-desc--commit{
        line-height: 1.5556;
        margin-top: 16px;
        margin-left: 37px;
        @media #{$max-sm}{
            font-size: 16px;
        }
    }
    .pxl--button{
        i,svg{
            @include transition(all 300ms linear 0ms);
        }
        &:hover{
            i,svg{
                transform: rotate(90deg);
            }
        }
    }
}

// Case Contact Form
.pxl-contact-form {
    .pxl-form--label {
        display: block;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #000;
        @extend .ft-secondary;
        span {
            @extend .text-gradient;
            display: inline-block;
            margin: 0 14px;
        }
    }
    &.btn-w-full .wpcf7-submit {
        width: 100%;
    }
    .wpcf7-heading {
        font-size: 24px;
        padding-top: 17px;
    }
    .wpcf7-acceptance {
        width: 100% !important;
        height: auto !important;
        border: none !important;
        padding: 0 !important;
        .wpcf7-list-item-label {
            font-size: 15px;
            color: #666;
            display: block;
            a {
                color: inherit;
                text-decoration: underline;
                text-decoration-color: #cfcfcf;
                &:hover {
                    color: $primary_color;
                    text-decoration: none;
                }
            }
        }
        .wpcf7-list-item {
            margin: 0;
            position: relative;
            padding-left: 30px;
            input, .wpcf7-list-item-label:before {
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 50%;
                @include transform(translate(0, -50%));
                margin: 0;
                cursor: pointer;
                @include transition(all .25s cubic-bezier(.645,.045,.355,1));
                border-radius: 20px;
            }
            .wpcf7-list-item-label:before {
                z-index: 1;
                background-color: #f5f6f6;
                border: 1px solid rgba(0,0,0,0.1);
            }
            .wpcf7-list-item-label:after {
                content: "\f112";
                font-family: "Caseicon";
                position: absolute;
                left: 5px;
                font-size: 10px;
                top: 50%;
                @include transform(translate(0, -50%));
                color: #fff;
                z-index: 2;
                opacity: 0;
                @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            }
            input {
                opacity: 0;
                z-index: 3;
                &:checked + .wpcf7-list-item-label:before {
                    background-color: $primary_color;   
                    border-color: $primary_color;   
                }
                &:checked + .wpcf7-list-item-label:after {
                    opacity: 1;
                }
            }
        }
    }
    .pxl--form-icon {
        opacity: 0;
        position: absolute;
        right: 30px;
        @include transform(translate(0, -50%));
        top: 50%;
        @include transition(all 300ms linear 0ms);
    }
    .wpcf7-form-control-wrap {
        display: block;
        margin-bottom: 20px;
        position: relative;
        .pxl--form-icon {
            font-size: 14px;
            color: #a0a0a0;
            z-index: 99;
            opacity: 1;
            &.top-spacer {
                top: 24px;
                @include transform(translate(0, 0%));
            }
        }
    }
    .pxl-icon-pos-right.pxl-form-date .wpcf7-form-control-wrap:after {
        display: none;
    }
    .wpcf7-not-valid-tip {
        position: absolute;
        font-size: 14px;
        margin-top: 6px;
        // &:before{
        //     content: '';
        //     border-width: 6px;
        //     border-style: solid;
        //     border-color: transparent transparent #000;
        //     position: absolute;
        //     top: -12px;
        //     left: 15px;
        // }
    }
    .wpcf7-form {
        overflow: visible;
        .wpcf7-response-output {
            margin: 40px 0 0;
            border-width: 2px;
            font-size: 15px;
            padding: 8px 16px;
            color: #fff;
            border: none;
            background-color: $primary_color;
        }
    }
    .pxl--item > p {
        margin: 0;
    }
    .pxl-form-label {
        color: #100900;
        font-size: 16px;
        display: block;
        margin-bottom: 15px;
        font-weight: 700;
        @extend .ft-theme-default;
    }
    .text-right > p {
        text-align: right;
    }

    .wpcf7-form-control.wpcf7-radio {
        background: none !important;
    }
    .pxl-radio--button {
        .wpcf7-radio {
            margin: -10px -7px 0 -7px;
            display: flex;
            flex-wrap: wrap;
            .wpcf7-list-item {
                padding: 0 7px;
                margin-top: 10px;
                margin-left: 0;
                display: flex;
                flex-wrap: wrap;
                > label {
                    display: inline-flex;
                    position: relative;
                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 99;
                        opacity: 0;
                        margin: 0;
                        cursor: pointer;
                    }
                }
                .wpcf7-list-item-label {
                    font-size: 16px;
                    font-weight: 500;
                    color: #999a99;
                    padding: 0 24px;
                    line-height: 58px;
                    position: relative;
                    background-color: #202526;
                    display: inline-flex;
                    @include transition(all 300ms linear 0ms);
                }
                [type="radio"]:checked + .wpcf7-list-item-label {
                    box-shadow: 0 0 0 2px $primary_color inset;
                    color: #fff;
                }
            }
        }
    }
}

// Case Navigation Carousel
.pxl-navigation-carousel {
    &.style-1 {
        .pxl-navigation-arrow {
            width: 65px;
            height: 65px;
            color: #cdcdcd;
            border-radius: 65px;
            border: 2px solid #cdcdcd;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 19px;
            margin: 0 7px;
            @include transition(all 300ms linear 0ms);
            cursor: pointer;
            &:hover {
                color: $primary_color;
                border-color: $primary_color;
            }
        }
    }
}



// Close Popup
.pxl-close-popup {
    background-color: transparent;
    border-width: 4px;
    display: block;
    &:before, &:after {
        background-color: #000;
    }
}


// Search Form
.pxl-search-form1 {
    &.style-1 {
        .pxl-searchform-wrap {
            position: relative;
        }
        .pxl-search-submit {
            height: 60px;
            width: 60px;
            @include background-horizontal($gradient_color_from, $gradient_color_to);
            @include transition(all 200ms linear 0ms);
            top: 0;
            right: 0;
            @include border-radius(0 60px 60px 0);
            padding: 0;
            position: absolute;
            color: #fff;
            line-height: 60px;
            z-index: 1;
            font-size: 19px;
            font-weight: 400;
            border: none;
            &:before, &:after {
                display: none;
            }
            &:hover {
                background-position: right center;
            }
        }
        .pxl-search-field {
            background-color: #fff;
            border-radius: 60px;
            font-size: 16px;
            padding-left: 21px;
            padding-right: 21px;
            border: 1px solid #d9d9d9;
            color: rgba(69, 69, 69, 0.55);
        }
    }
    &.style-2 {
        .pxl-search-field {
            font-size: 32px;
            color: #454545;
            padding: 0;
            border: none;
            background-color: transparent;
            height: 58px;
            @extend .ft-theme-default;
            font-weight: 500;
            border-radius: 0px;
        }
        .pxl-search-submit {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 58px;
            padding: 0;
            border: none;
            box-shadow: none;
            width: 58px;
            color: $primary_color;
            background: none;
            font-size: 26px;
            margin: 0 -15px;
            background: none;
            &:hover, &:focus {
                color: $primary_color;
                background: none;
            }
        }
        .pxl-searchform-divider {
            background-color: rgba(#000, 0.38);
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;
            height: 1px;
            transform-origin: left center;
        }
        .pxl-searchform-wrap {
            position: relative;
        }
    }
}

