/*--------------------------------------------------------------
Portfolio Style
----------------------------------------------------------------
# Portfolio Grid
# Portfolio Carousel
# Portfolio Details
--------------------------------------------------------------*/
.pxl-portfolio-style1 {
	.pxl-post--readmore {
		width: 99px;
		height: 99px;
		@include background-gradient-button(to right, $gradient_color_from 0%, $gradient_color_to 50%, $third_color 100%);
		border-radius: 99px;
		position: absolute;
		right: 3px;
		top: 50%;
		transform: translate(0, -50%);
		color: #fff;
		font-size: 65px;
		opacity: 0;
		i {
			transform: rotate(-90deg);
			@include transition(all 300ms linear 0ms);
		}
		&:hover i {
			transform: rotate(0deg) !important;
		}
	}
	.pxl-post--category {
		font-size: 15px;
		font-weight: 500;
		color: #848484;
	}
	.pxl-post--title {
		margin-bottom: 0;
		font-size: 24px;
		@media #{$max-lg} {
			font-size: 22px;
		}	
	}
	.pxl-post--featured {
		border-radius: 4px;
		@media #{$max-lg} {
			&:before {
				content: '';
				z-index: 88;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(#000, 0.67);
				@include transition(all 300ms linear 0ms);
				opacity: 0;
			}
		}
		.pxl-post--readmore {
			right: auto;
			left: 50%;
			transform: translate(-50%, -50%) scale(0.9);
			margin: 0;
			display: none;
			z-index: 99;
			@media #{$max-lg} {
				display: inline-flex;
			}	
		}
	}
	.pxl-post--holder {
		background-color: #fff;
		position: absolute;
		bottom: -53px;
		left: 40px;
		z-index: 99;
		border-radius: 107px;
		padding: 10px 63px 10px 35px;
		box-shadow: 0 3px 57px rgba(#000000, 0.06);
		min-height: 107px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include transition(all 300ms linear 0ms);
		@media #{$max-lg} {
			left: 24px;
			padding: 10px 30px;
			.pxl-post--readmore {
				display: none;
			}
		}
	}
	.pxl-post--inner {
		margin-bottom: 87px;
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			top: 10px;
			left: 0;
			right: 0;
			bottom: 0;
			@include transition(all 300ms linear 0ms);
			@include background-horizontal($gradient_color_from, $gradient_color_to);
			z-index: -1;
			border-radius: 4px;
		}
		&:hover {
			&:before {
				bottom: -10px;
			}
			.pxl-post--holder {
				padding-right: 121px;
				@media #{$max-lg} {
					padding-left: 30px;
					padding-right: 30px;
				}
			}
			.pxl-post--readmore {
				opacity: 1;
				transition-delay: 100ms;
				i {
					transform: rotate(-45deg);
				}
			}
			.pxl-post--featured:before {
				opacity: 1;
			}
		}
	}
}

.pxl-portfolio-style2 {
	.pxl-post--category {
		font-size: 15px;
		a {
			@extend .text-gradient;
		}
	}
	.pxl-post--title {
		margin-bottom: 6px;
		font-size: 24px;
		font-weight: 600;
	}
	.pxl-post--content {
		font-size: 16px;
		line-height: 1.625;
		margin-bottom: 22px;
	}
	.pxl-post--holder {
		background-color: #F7F7F7;
		padding: 16px 26px 30px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		@include transition(all 300ms linear 0ms);
		opacity: 0;
		transform: translateY(100%);
	}
	.pxl-post--angle {
		height: 40px;
		fill: #F7F7F7;
		position: absolute;
		top: -40px;
		right: 0;
		left: 0;
	}
	.pxl-post--readmore {
		.btn {
			line-height: 46px;
			font-size: 15px;
			&.btn-icon-box .pxl--btn-icon {
				width: 46px;
				height: 46px;
				font-size: 10px;
			}
		}
	}
	.pxl-post--inner {
		margin-bottom: 30px;
		position: relative;
		overflow: hidden;
		&:hover {
			.pxl-post--holder {
				opacity: 1;
				transform: translateY(0%);
			}
		}
	}
}

// Portfolio Details
.pxl-project-info1 {
    background-color: #0A1320;
    padding: 25px 25px 30px 25px;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    .pxl-item--title {
        text-align: center;
        margin: -25px -25px 21px -25px;
        font-size: 30px;
        color: #fff;
        border-bottom: 2px solid rgba(#FFFFFF, 0.1);
        padding: 21px 0;
    }
    .pxl-item--button {
        margin-top: 35px;
        text-align: center;
        a {
            padding: 0 32px;
            line-height: 54px;
            font-size: 16px;
        }
    }
    .pxl-item--icon {
        position: relative;
        top: 2px;
        color: $third_color;
        font-size: 18px;
    }
    .pxl--item {
        border-bottom: 1px solid rgba(#FFFFFF, 0.1);
        padding-bottom: 21px;
        margin-bottom: 21px;
        display: flex;
        flex-wrap: nowrap;
        label {
            font-weight: 700;
            font-size: 20px;
            display: block;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.pxl-project-info2 {
	@extend .ft-theme-default;
    border-radius: 65px;
    padding: 19px 40px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media #{$max-md} {
        justify-content: inherit;
    }
    @media #{$max-sm} {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 30px;
        box-shadow: 0 5px 10px rgba(#000, 0.06);
    }
    &:before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-color: #fff;
        border-radius: inherit;
        z-index: -1;
    }
    &:after {
        content: '';
        position: absolute;
        top: 1px;
        right: 0px;
        left: 0px;
        height: 100%;
        @include background-horizontal($gradient_color_from, $gradient_color_to);
        border-radius: inherit;
        z-index: -2;
    }
    .pxl-item--icon {
        color: $primary_color;
        font-size: 18px;
    }
    .pxl--item {
        display: flex;
        flex-wrap: nowrap;
        margin: 12px 0;
        padding-right: 50px;
        @media #{$max-md} {
            width: 50%;
            padding: 0 10px;
        }
        @media #{$max-sm} {
            width: 100%;
        }
        label {
            font-weight: 600;
            color: #0A1320;
            font-size: 22px;
            display: block;
            margin-bottom: -2px;
            @media #{$max-sm} {
                font-size: 20px;
            }
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.pxl-portfolio-style1 .pxl-post--readmore.pxl-gradient-rotate {
	@include background-gradient-rotate(135deg, $gradient_color_from, $gradient_color_to);
}

.pxl-portfolio-carousel1 {
	.pxl-post--category {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;
		@media #{$max-xl} {
			font-size: 16px;
		}
	}
	.pxl-post--title {
		color: #fff;
		margin-bottom: 0;
		font-size: 30px;
		@media #{$max-xl} {
			font-size: 24px;
		}
	}
	.pxl-post--holder {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 30px 45px 41px;
		z-index: 77;
		@include transition(all 300ms linear 0ms);
		opacity: 0;
		transform: translateY(100%);
		@media #{$max-xl} {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.pxl-post--button {
		width: 67px;
		height: 67px;
		background-color: #fff;
		border-radius: 67px;
		position: absolute;
		top: 44px;
		right: 54px;
		font-size: 18px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #000;
		z-index: 77;
		@include transition(all 300ms linear 0ms);
		opacity: 0;
		transform: translateY(-110px);
	}
	.pxl-post--inner {
		border-radius: 20px;
		position: relative;
		overflow: hidden;
		&:before {
			content: '';
			z-index: 66;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include background-horizontal($gradient_color_from, $gradient_color_to);
			opacity: 0;
			transform: scale(2);
			@include transition(all 300ms linear 0ms);
		}
		&:hover {
			&:before {
				opacity: 0.86;
				transform: scale(1);
			}
			.pxl-post--holder, .pxl-post--button {
				opacity: 1;
				transform: translateY(0%);
			}
		}
	}
}

body.rtl {
}