// Sidebar
//--------------------------------------------------
@media #{$min-xl} {
	.pxl-sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 40px;
	}
	.admin-bar .pxl-sidebar-sticky  {
		top: 72px;
	}
}

.widget .widget-title, .pxl-widget-title {
	font-size: 22px;
	margin-bottom: 20px;
}
.comments-title, .comment-reply-title {
	margin-bottom: 6px;
	font-size: 28px;
	font-weight: 600;
}

.pxl-sidebar-area {
	.pxl-sidebar-sticky {
		border-radius: 8px;
		background-color: #FFFFFF;
		@media #{$max-lg} {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.widget {
		padding: 40px 32px 0;
		@media #{$max-sm}{
			padding: 25px 0 0; 
		}
		&:last-child{
			padding-bottom:40px;
			@media #{$max-sm}{
				padding-bottom: 25px; 
			}
		}
		+ .widget {
			margin-top: 40px;
			border-top: 1px solid rgba(#000, 0.08);
		}
	}
}

.widget_search {
	.searchform-wrap {
		position: relative;
	}
	.search-submit {
		height: 60px;
		width: 60px;
		font-weight: 400;
		background-color: $primary_color;
		@include transition(all 300ms linear 0ms);
		top: 0;
		right: 0;
		@include border-radius(0 5px 5px 0);
		padding: 0;
		position: absolute;
		color: #fff;
		z-index: 1;
		font-size: 18px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		&:before, &:after {
			display: none;
		}
	}
	.search-field {
		background-color: #fff;
		border-radius: 0px;
		font-size: 16px;
		padding: 0 70px 0 21px;
		border: 1px solid #D9D9D9;
		height: 60px;
		color: rgba(#454545, 0.55);
		border-radius: 5px;
		&:focus {
			border-color: $primary_color;
		}
	}
}

.widget_product_categories,
.widget_categories,
.widget_nav_menu,
.widget_pages,
.widget_archive,
.widget_meta,
.widget_recent_entries {
	ul {
		list-style: none;
		margin-bottom: 0;
		padding: 0;
		li {
			margin-top: 20px;
			&:first-child{
				margin-top: 28px;
			}
			a {
				font-size: 18px;
				font-weight: 400;
				line-height: 1.55556;
				color: rgba(32,32,32,.72);
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-bottom: 20px;
				border-bottom: 1px solid #DFE1E5;

				.title {
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					@include background-gradient-button(to right, $primary_color, $primary_color 50%, #454545 50%);
					background-size: 200% 100%;
					background-position: -100%;
					transition: all 0.2s ease-in-out;
				}
			}
			.pxl-count {
				span {
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					@include background-gradient-button(to right, $primary_color, $primary_color 50%, #454545 50%);
					background-size: 200% 100%;
					background-position: -100%;
					transition: all 0.2s ease-in-out;
				}
			}
			&.current-menu-item > a, &.current-cat > a, &.current-cat-parent > a, > a:hover {
				.title, .pxl-count span {
					background-position: 0%;
				}
				.pxl-count {
					background-color: transparent;
					&:before {
						opacity: 0.1;
					}
				}
				&:after {
					bottom: -2px;
				}
			}
			.sub-menu, .children {
				margin-top: 12px;
			}
		}
	}
}

.widget{
	.tagcloud {
		display: flex;
		flex-wrap: wrap;
		margin-top: -10px;
		a {
			font-size: 16px !important;
			color: #716F73;
			padding: 0 17px;
			line-height: 36px;
			position: relative;
			z-index: 1;
			display: inline-block;
			margin-right: 8px;
			margin-top: 8px;
			border-radius: 2px;
			background-color: #F6F6F6;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background-color: $primary_color;
				border-radius: inherit;
				opacity: 0;
				@include transition(all 300ms linear 0ms);
			}
			&:hover {
				color: #fff;
				&:before {
					opacity: 1;
				}
			}
		}
	}
	
}

.widget_pxl_recent_posts {
	.pxl-item--img {
		overflow: hidden;
		border-radius: 5px;
		width: 108px;
		min-width: 108px;
		@media #{$max-lg} {
			width: 90px;
			min-width: 90px;
		}
		img{
			min-height: 120px;

		}
	}
	.pxl-item--title {
		font-size: 18px;
		font-weight: 600;
		line-height: 1.5556;
		@media #{$max-lg} {
			font-size: 15px;
		}
		
	}
	.pxl-item--meta {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.42;
		color: $primary_color;
		display: inline-flex;
		align-items: center;
		@media #{$max-lg} {
			display: inline-block;
		}
	}
	.pxl--item {
		display: flex;
		flex-wrap: nowrap;
		background-color: #fff;
		padding: 8px;
		border-radius: 5px;
		+ .pxl--item {
			margin-top: 10px;
		}
	}
}

.gallery {
	margin: -10px -5px 0 -5px !important;
	display: flex;
	flex-wrap: wrap;
	.gallery-item {
		padding: 0 5px !important;
		margin: 24px 0 0 !important;
		img {
			border: none !important;
		}
	}
	&.gallery-columns-2 .gallery-item {
		width: 50% !important;
	}
	&.gallery-columns-3 .gallery-item {
		width: 33.33% !important;
	}
	&.gallery-columns-4 .gallery-item {
		width: 25% !important;
	}
	&.gallery-columns-5 .gallery-item {
		width: 20% !important;
	}
}
#pxl-content-main {
	.gallery {
		margin: -5px -12px 38px -12px !important;
		.gallery-item {
			padding: 0 12px !important;
			margin: 24px 0 0 !important;
		}
	}
}

.widget_media_gallery, .elementor-widget-wp-widget-media_gallery, .elementor-widget-image-gallery {
	.gallery {
		margin: -10px -5px 0 -5px;
		.gallery-item {
			padding: 0 5px;
			margin-top: 10px !important;
			margin-bottom: 0;
			img {
				@include border-radius(0px);
				width: 100%;
				border: none !important;
			}
			a {
				display: block;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(#000, 0.67);
					@include transition(all 250ms linear 0ms);
					opacity: 0;
					z-index: 1;
				}
				&:after {
					content: "\f12c";
					font-size: 15px;
					font-family: "Caseicon";
					color: rgba(#fff, 1);
					z-index: 2;
					position: absolute;
					left: 50%;
					top: 50%;
					@include transform(translate(-50%, -50%));
					@include transition(all 250ms linear 0ms);
					opacity: 0;
					font-weight: 400;
				}
				&:hover {
					&:before, &:after {
						opacity: 1;
					}
				}
			}
		}
	}
}

.elementor-lightbox {
	.swiper-container {
		.elementor-lightbox-image {
			width: auto;
			height: auto;
		}
		.swiper-slide {
			background-color: transparent;
		}
	}
}

.pxl-gallery {
	margin: -8px -15px 26px -15px;
	display: flex;
	flex-wrap: wrap;
	img {
		width: 100%;
	}
	.pxl--item {
		padding: 26px 15px 0 15px;
	}
	.pxl--item-inner {
		@include border-radius(10px);
		overflow: hidden;
		position: relative;
		&.video-active:before {
			@extend .pxl-spill;
			background-color: rgba(#1b1b1b, 0.5);
		}
		.pxl-btn-video {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			z-index: 99;
		}
	}
	&.gallery-2-columns .pxl--item {
		width: 50%;
		@media #{$max-xs} {
			width: 100%;
		}
	}
	&.gallery-3-columns .pxl--item {
		width: 33.33%;
		@media #{$max-xs} {
			width: 100%;
		}
	}
	&.gallery-4-columns .pxl--item {
		width: 25%;
		@media #{$max-sm} {
			width: 50%;
		}
		@media #{$max-xs} {
			width: 100%;
		}
	}
	&.gallery-5-columns .pxl--item {
		width: 20%;
		@media #{$max-sm} {
			width: 50%;
		}
		@media #{$max-xs} {
			width: 100%;
		}
	}
	&.masonry-style1 {
		.pxl--item-inner {
			@include border-radius(0px);
		}
	}
}

.calendar_wrap {
	caption {
		margin-bottom: 10px;
	}
}

.widget_recent_comments {
	ul, ol {
		list-style: none;
		font-size: 16px;
		line-height: 24px;
		color: #080808;
		font-weight: 700;
		@extend .ft-secondary;
		a {
			color: inherit;
			&:hover {
				color: $primary_color;
			}
		}
		li + li {
			margin-top: 18px;
		}
	}
}

.widget_rss {
	.rss-widget-title {
		color: inherit;
	}
	ul, ol {
		margin: 0;
		list-style: none;
	}
	.rsswidget {
		display: block;
		font-size: 16px;
		line-height: 24px;
		color: #080808;
		font-weight: 700;
		@extend .ft-secondary;
	}
	.rss-date {
		font-size: 14px;
		display: block;
		margin-top: 4px;
		margin-bottom: 10px;
	}
	li + li {
		margin-top: 34px;
	}
	cite {
		display: block;
		margin-top: 4px;
		color: $primary_color;
	}
}

.widget_block {
	ul, ol {
		margin-bottom: 0;
		padding: 0;
		list-style: none;
	}
	.wp-block-search__label, .wp-block-group__inner-container > h2 {
		font-size: 22px;
		margin-bottom: 27px;
		position: relative;
		color: #080808;
		font-weight: 700;
		@extend .ft-secondary;
		display: block;
	}
	.wp-block-latest-posts__list, .wp-block-latest-comments {
		font-size: 16px;
		line-height: 24px;
		color: #080808;
		font-weight: 600;
		@extend .ft-secondary;
		a {
			color: inherit;
			&:hover {
				color: $primary_color;
			}
		}
		li + li {
			margin-top: 18px;
		}
	}
	.wp-block-latest-comments {
		color: #666;
		a {
			color: #080808;
			&:hover {
				color: $primary_color;
			}
		}
	}
	&.widget_search {
		.wp-block-search__inside-wrapper  {
			position: relative;
			.wp-block-search__button {
				height: 60px;
				width: 60px;
				background: transparent;
				top: 0;
				right: 0;
				@include border-radius(0px);
				padding: 0;
				position: absolute;
				color: #222222;
				line-height: 60px;
				z-index: 1;
				font-size: 0px;
				@include box-shadow(none);
				border-color: #ececf0;
				&:before {
					content: "\f12c";
					font-family: "Caseicon";
					font-size: 14px;
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -50%));
				}
				&:hover {
					border-color: $primary_color;
					background-color: $primary_color;
					color: #fff;
					border-radius: 8px;
				}
			}
			.wp-block-search__input  {
				border-color: #ececf0;
				color: #222222;
				padding-left: 24px;
			}
		}
	}
}

.widget_archive .nice-select ul.list {
	max-width: 320px;
}

.wp-calendar-table {
	background-color: #fff;
}

.pxl-wg-categories {
	margin: -20px -10px 0 -10px;
	display: flex;
	flex-wrap: wrap;
	.pxl-category {
		padding: 0 10px;
		margin-top: 20px;
	}
	.pxl-category--inner {
		min-height: 90px;
		position: relative;
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		@media #{$max-xs} {
			min-height: 120px;
		}
		&:before {
			content: '';
			@extend .pxl-spill;
			background-color: rgba(#000, 0.36);
			z-index: 12;
		}
		a {
			@extend .pxl-spill;
			z-index: 99;
		}
		span {
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			@extend .ft-secondary;
			position: relative;
			z-index: 88;
		}
		.pxl-category--img {
			z-index: 11;
			@extend .pxl-spill;
			@include transition(all 0.5s ease);
			transform: scale(1.01,1.01);
		}
		&:hover .pxl-category--img {
			-webkit-transform: scale(1.07,1.07);
			transform: scale(1.07,1.07);
		}
	}
	&.columns-2 .pxl-category {
		width: 50%;
		@media #{$max-xs} {
			width: 100%;
		}
	}
}

.pxl-contact-info-widget {
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	text-align: center;
	padding: 62px 30px;
	font-weight: 500;
	color: rgba(#fff, 0.8);
	.pxl-phone--number {
		margin-bottom: 16px;
		color: #fff;
		font-size: 34px;
		font-weight: 800;
		@extend .ft-secondary;
		@media #{$max-lg} {
			font-size: 28px;
		}
	}
	.pxl-item--icon {
		height: 62px;
		width: 62px;
		background-color: red;
		border-radius: 62px;
		font-size: 34px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
		margin-bottom: 23px;
		&:before {
			content: '';
			background-color: #020626;
			position: absolute;
			top: 3px;
			right: 3px;
			bottom: 3px;
			left: 3px;
			border-radius: 100%;
			z-index: -1;
		}
		@extend .bg-gradient;
		i {
			@extend .text-gradient;
			&.active {
				animation: pxl_zigzag 0.8s ease-out infinite;
				-webkit-animation: pxl_zigzag 0.8s ease-out infinite;
			}
		}
	}
	.pxl-phone--link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
	}
	&:before {
		z-index: -1;
		@extend .pxl-spill;
		background-color: rgba(#020626, 0.85);
	}
}

body.rtl {
	.widget {
		.widget-title {
			padding-left: 0;
			padding-right: 42px;
			&:before {
				left: auto;
				right: 0;
			}
		}
	}
}